electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# registry=https://registry.npmmirror.com/
# @tsintergy/pxsx-nodets公司内网包
# @tsintergy:registry=http://npmreg.gzdevops.tsintergy.com